<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='keras.ico') }}">
        <title>{% block title %}{% endblock %} - Flash application to read in hand drawn numbers</title>
    {% endblock %}
</head>
<body onload="init()">
{% block content %}
    <div class="row text-center">
        <h1>{{ title }}</h1>
        <canvas id="inputCanvas" width="200" height="200"></canvas>
    </div>
    <br/><br/>
    <div class="row text-center">
        <!-- Send canvas data -->
        <form method="POST">
            <button class="btn btn-primary" id="clearButton" onclick="clearCanvas()">Clear</button>
            <input type="hidden" name="data" id="data">
            <input type="submit" class="btn btn-primary" value="Send">
        </form>
    </div>
    {% if result %}
        <div id="result">Results will display here: {{ result }}</div>
    {% endif %}
{% endblock %}
<footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</footer>
</body>
</html>
