body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.canvas-box-wrapper {
    display: block !important;
}

#input_canvas {
    border: 2px solid rgb(102, 153, 255);
}

.container {
    width: 100%;
    height: auto;
}

.inner-container {
    border-radius: 5px;
    margin: 20px auto;
    width: 680px;
}

.inner-container h3 {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.flex-two {
    display: flex;
    flex-wrap: wrap;
}

.flex-two div {
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 640px) {
    #chart_box {
        padding: 5px;
    }
}

.btn {
    background-color: rgb(102, 153, 255);
}

.btn-spacing {
    margin-right: 10px;
    margin-bottom: 5px !important;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin: 5px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}



